<div class="row-fluid">
	<div class="span9">
		<div class="well">
			<p class="lead text-center"><legend><strong>新建审批岗位</strong></legend></p>
			<%= simple_form_for @userposition, :html => { :class => 'form-horizontal' } do |f| %>
			  <fieldset>
				<%= render 'fields', :f => f %>
				<div class="form-actions">
					<%= f.submit "确认", :class => 'btn btn-primary' %>
					<%= link_to '取消', userpositions_path, :class => 'btn' %>
				</div>
			  </fieldset>
			<% end %>
		</div>
	</div>
	<div class="span3">
		<div class="alert alert-block">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		  <h4>帮助</h4>
		  设置新的审批岗位名称。
		</div>
	</div>
</div>