<div class="row-fluid">
	<div class="span4 offset4">
		<div class="well">
			<p class="text-center text-error">您的账户还未设置任何系统角色</p>
			<p class="text-center text-error">请联系系统管理员</p>
		</div>
<!-- 		<div class="alert">
  			<button type="button" class="close" data-dismiss="alert">&times;</button>
  			<strong>您的账户还未设置任何系统角色</strong> 请联系系统管理员
		</div> -->
	</div>
</div>
