<div class="row-fluid">
	<div class="span9">
		<div class="well">
			<p class="lead text-center"><legend><strong><%= @notice.title %></strong></legend></p>
			<div>
				<%= @notice.content %>
			</div>
		</div>
	</div>
	<div class="span3">
		<div class="alert alert-block">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		  <h4>帮助</h4>
		  <p>公告发送后，所有用户登录系统后会收到最新公告。</p>
		</div>
	</div>
</div>