<%= render :partial => 'investcusts_grid' %>

<div class="row-fluid">
	<div class="span12 well">
			<div class="row-fluid">
				<div class="span6">
					<div class="row-fluid">
						<div class="span4">
							客户姓名：
						</div>
						<div class="span8">
							<%= grid_filter @invest_custs_grid, :name_filter  %>
						</div>
					</div>
				</div>
				<div class="span6">
					<div class="row-fluid">
						<div class="span4">
							开户日期：
						</div>
						<div class="span8">
							<%= grid_filter @invest_custs_grid, :open_date_filter  %>
						</div>
					</div>
				</div>
			</div>

			<div class="row-fluid">
				<div class="span12">
					<div class="form-actions">
						<button class="btn btn-primary wg-external-submit-button" data-grid-name="custs">查询</button>
						<button class="btn wg-external-reset-button" data-grid-name="custs">重置</button>
					</div>
				</div>
			</div>
		</div>
	</div>
<%= render_grid(@invest_custs_grid) %>
