<br class="hidden-phone"/><br class="hidden-phone"/><br class="hidden-phone"/>
<ul class="breadcrumb hidden-phone">
  <li>
    <%= link_to "", root_path, :class => "icon-home" %>
	<span class="divider">•</span>
	<li class="active"><strong><%= @title %></strong></li>
  </li>
</ul>