<div class="row-fluid">
	<div class="span12">
		<% if @broker.salaries.any? %>
		<div class="accordion" id="accordion1">
			<% @broker.salaries.select(:month_id).order(:month_id).reverse_order.uniq.each_with_index do |month,index| %>
				<% if index >= 0 && index <= 5 %>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse<%=month.month_id%>">
							 	月度收入 #<%= month.month_id %>
							</a>
						</div>
						<div id="collapse<%=month.month_id%>" <% if index == 0 %>class="collapse in"<% else %>class="collapse"<% end %>>
							<div class="accordion-inner">
									<%= render :partial => 'salaries/salary', :locals => { :object => broker_salary(@broker,month.month_id) } %>
							</div>
						</div>
					</div>
				<% end %>
			<% end %>
		</div>
		<% else %>
		<p class="text-center muted">目前没有记录</p>
		<% end %>
		<p class="text-center">*请主动自行申报个人所得税</p>
	</div>
</div>
