<!-- <div class="page-header">
	<h1>帮助</h1>
</div> -->
<div class="hero-unit">
	<strong>常见问题说明:</strong>
	<p>
		<strong>Q: 如何注册？</strong><br/>
		A: 系统开发注册期间，凡自愿加入摩尔街成为居间人会员者，阅读并同意相关规则之后，均可通过该系统直接注册。<br/>
		<strong>Q: 如何登录系统？</strong><br/>
		A: 注册成功以后，通过注册时使用的用户名和密码登录。<br/>
		<strong>Q: 密码忘记了，如何找回？</strong><br/>
		A: 系统测试期间，请拨打人工客服400-108-8182<br/>
		<strong>Q: 营销人员如何完成每日工作签到？</strong><br/>
		A: 每天首次登录系统成功之后，系统会自动签到。<br/>
		<strong>Q: 个人绩效和薪酬奖励何时计算？</strong><br/>
		A: 系统按照每月居间人业绩完成情况和奖励办法，按月度计算上月奖励。<br/>
		<strong>Q: 如果发现系统功能或数据问题，如何处理？</strong><br/>
		A: 系统测试期间，请拨打人工客服400-108-8182<br/>
	</p>
</div>
