<!-- <div class="page-header">
	<h1>帮助</h1>
</div> -->
<div class="hero-unit">
	<strong>常见问题说明:</strong>
	<p>
		<strong>Q: 如何登录系统？</strong><br/>
		A: 证券经纪人类型人员，使用个人营销人员编码作为用户代码登录。全日制营销人员或其他员工，使用工号登录。<br/>
		<strong>Q: 密码忘记了，如何找回？</strong><br/>
		A: 点击“忘记密码？”按提示步骤填写正确的个人信息，密码将自动重置为初始密码。<br/>
		<strong>Q: 营销人员如何完成每日工作签到？</strong><br/>
		A: 每天首次登录系统成功之后，系统会自动签到。<br/>
		<strong>Q: 个人绩效和薪酬奖励何时计算？</strong><br/>
		A: 系统自动展示T-1的个人业绩指标。个人月度薪酬报告展示时间为次月第5个工作日。<br/>
		<strong>Q: 如果发现系统功能或数据问题，如何处理？</strong><br/>
		A: 请联系营业部经纪人管理岗相关人员。<br/>
	</p>
	</br>	
	<p>
		<% if signed_in? %>
			下载：<%= link_to('系统使用说明', "docs/help.pdf") %>
		<% end %>
	</p>
</div>