<div class="row-fluid">
	<div class="span9">
		<%= render 'workflow_steps/workflow_fields/1001/fields_his' %>
	</div>
	<div class="span3">
		<div class="mini-layout">
			<% @workflow.workflowsteps.each do |n| %>
				<div class="row-fluid">
					<div class="span12">
						<% if n.step == 2 && n.workflow.code == "1001" %>
							<div class="well" style="color:#468847; background-color: #dff0d8;">
						<% else %>
							<div class="well" style="color:#468847; background-color: #dff0d8;">
						<% end %>
						  <strong><p class="text-center"><%= n.name %></p></strong>
						</div>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12">
						<p class="text-center"><i class="icon-arrow-down"></i></p>
					</div>
				</div>
			<% end %>
			<div class="row-fluid">
				<div class="span12">
					<div class="well" style="color:#468847; background-color: #dff0d8;">
					  <strong><p class="text-center">完成</p></strong>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>