<table class="table table-striped table-bordered table-condensed">
  <caption><h4><p class="text-info" style="padding-bottom: 10px;">客户分类</p></h4></caption>
  <thead>
    <tr>
      <th>分类</th>
      <th>当前客户数量</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>投资客户</td>
      <td><%= find_brokerindex(70004, @broker).to_i %></td>
    </tr>
		<tr>
      <td>配资客户</td>
      <td><%= find_brokerindex(60004, @broker) %></td>
    </tr>
		<tr>
      <td>操盘手客户</td>
      <td><%= find_brokerindex(60007, @broker) %></td>
    </tr>
  </tbody>
</table>