<table class="table table-striped table-bordered table-condensed">
  <caption><h4><p class="text-info" style="padding-bottom: 10px;">客户分类</p></h4></caption>
  <thead>
    <tr>
      <th>分类</th>
      <th>当前客户数量</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to '投资客户', {:controller => 'custs', :action => 'invest_custs_index'} %></td>
      <td><%= @brokercusts.invest_custs.count.to_i %></td>
    </tr>
		<tr>
      <td><%= link_to '操盘手客户', {:controller => 'custs', :action => 'trader_custs_index'} %></td>
      <td><%= @brokercusts.trader_custs.count.to_i %></td>
    </tr>
  </tbody>
</table>
