<%= grid(@brokerfavcusts_grid) do |g|
	
	g.blank_slate  do
	  '<p class="text-center muted">没有记录 (可以在客户明细中添加关注)</p>'.html_safe 
	end
	
  g.column :name => '资金账号' do |cust|
    cust.capital_account
  end

  g.column :name => '姓名' do |cust|
    link_to(cust.cust_name, cust_path(cust))
  end

  g.column :name => '当前资产' do |cust|
    cust.custindices.last.total_asset
  end
end -%>