<blockquote>
  <p>客户 xxx 开户成功</p>
  <small>2015-4-8</small>
</blockquote>
<blockquote>
  <p>客户 xxx 转入资金 100000 元</p>
  <small>2015-4-9</small>
</blockquote>
<blockquote>
  <p>客户 xxx 投资 50000 元 购买标的 世诚投资价值投资</p>
  <small>2015-4-8</small>
</blockquote>
