<div class="row-fluid">
	<div class="span3">
		<%= render 'brokers/sidebar_broker' %>
	</div>
	<div class="span6">
		<div class="row-fluid">
			<div class="tabbable tabs">
			  <ul class="nav nav-tabs" id="myTab">
			    <li class="active"><a href="#1" data-toggle="tab">客户情况</a></li>
			    <li><a href="#2" data-toggle="tab">我的积分</a></li>
					<li><a href="#4" data-toggle="tab">我的收入</a></li>
					<% if can? :manage, User %>
						<li><a href="#6" data-toggle="tab">签到情况</a></li>
					<% end %>
			  </ul>
			  <div class="tab-content">
			    <div class="tab-pane active" id="1">
						<%= render 'brokers/custs/brokercusts' %>
			    </div>
					<% if can? :manage, User %>
					<div class="tab-pane" id="6">
						<%= render 'brokers/manage/signin_log' %>
					</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<div class="span3">
		<%= render 'workflowunderways/sidebar_workflowunderways' %>
	</div>
</div>